{% extends 'base.twig' %}

{% block main %}
    <div class="container">
        <h1>{{ titre }}</h1>
        <div class="card p-4">
            <p>Vous êtes sur le point de supprimer l'instrument suivant :</p>
            <ul>
                <li><strong>Nom :</strong> {{ instrument.nom }}</li>
                <li><strong>Type :</strong> {{ instrument.type_nom }}</li>
                <li><strong>Prix :</strong> {{ instrument.prix }} €</li>
            </ul>
            <form method="POST" action="controleur.php?page=instrument&action=delete&id={{ instrument.id }}">
                <input type="hidden" name="confirm" value="yes">
                <button type="submit" class="btn btn-danger">Supprimer l'instrument</button>
                <a href="controleur.php?page=instrument&action=read&id={{ instrument.id }}" class="btn btn-secondary ms-2">Annuler</a>
            </form>
        </div>
    </div>
{% endblock %}
