{% extends 'base.twig' %}

{% block main %}
	<div class="container">
		<h1>{{ titre }}</h1>
		<div class="card p-4">
			<p>Vous êtes sur le point de supprimer votre compte :</p>
			<ul>
				<li><strong>Pseudo :</strong> {{ user.pseudo }}</li>
				<li><strong>Email :</strong> {{ user.email }}</li>
			</ul>
			<form method="POST" action="controleur.php?page=user&action=delete&id={{ user.id }}">
				<input type="hidden" name="confirm" value="yes">
				<button type="submit" class="btn btn-danger">Supprimer mon compte</button>
				<a href="controleur.php?page=user&action=read&id={{ user.id }}" class="btn btn-secondary ms-2">Annuler</a>
			</form>
		</div>
	</div>
{% endblock %}
