{% extends 'base.twig' %}

{% block main %}
	<div class="container">
		<h1>{{ titre }}</h1>
		<div class="card p-4">
			<p>Vous êtes sur le point de supprimer l'article suivant :</p>
			<ul>
				<li><strong>Titre :</strong> {{ article.titre }}</li>
				<li><strong>Auteur :</strong> {{ article.pseudo }}</li>
			</ul>
			<form method="POST" action="controleur.php?page=article&action=delete&id={{ article.id }}">
				<input type="hidden" name="confirm" value="yes">
				<button type="submit" class="btn btn-danger">Supprimer l'article</button>
				<a href="controleur.php?page=article&action=read&id={{ article.id }}" class="btn btn-secondary ms-2">Annuler</a>
			</form>
		</div>
	</div>
{% endblock %}
