{% extends 'base.twig' %}

{% block main %}
	<div class="container">
		<div class="mb-5">
			<form action="#" method="POST" name="filtersForm" onchange="filtersForm.submit();">
				<div class="row g-2">
					<div class="col-lg-2">
						<select class="form-control" id="typeFilter" name="typeFilter">
							<option value="">Tous</option>
							{% for type in types %}
								<option value="{{type.id}}" {{ activeType == type.id ? 'selected' : ''}}>{{type.nom}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-lg-2">
						<select class="form-control" id="difficulteFilter" name="difficulteFilter">
							<option value="">Toutes difficultés</option>
							<option value="débutant" {{ activeDifficulte == 'débutant' ? 'selected' : '' }}>Débutant</option>
							<option value="intermédiaire" {{ activeDifficulte == 'intermédiaire' ? 'selected' : '' }}>Intermédiaire</option>
							<option value="avancé" {{ activeDifficulte == 'avancé' ? 'selected' : '' }}>Avancé</option>
						</select>
					</div>
					<div class="col-lg-2">
						<select class="form-control" id="order" name="order">
							<option value="">Trier par prix</option>
							<option value="prix_asc" {{ activeOrder == 'prix_asc' ? 'selected' : '' }}>Prix croissant</option>
							<option value="prix_desc" {{ activeOrder == 'prix_desc' ? 'selected' : '' }}>Prix décroissant</option>
						</select>
					</div>
					<div class="col-lg-6">
						<input type="search" id="search" name="search" placeholder="Rechercher par nom" class="form-control" value="{{activeSearch}}">
					</div>
				</div>
			</form>
			{% if (session.role == 'musicien') or (session.role == 'administrateur') %}
				<a href="controleur.php?page=cours&action=new" class="btn btn-primary my-3">Proposer un cours</a>
			{% endif %}
		</div>

		<div class="row row-cols-md-2 row-cols-lg-3 g-3">
			{% for c in cours %}
				<div class="col">
					<div class="card h-100">
						<div class="card-body d-flex flex-column">
							<h5 class="card-title">{{ c.nom }}</h5>
							<p class="text-secondary">Par
								{{ c.pseudo }}</p>
							<p class="bg-secondary p-1 px-2 rounded align-self-start">{{ c.type_nom }}</p>
							<p class="bg-info p-1 px-2 rounded align-self-start text-dark">{{ c.difficulte|capitalize }}</p>
							<p class="card-text">{{ c.description[:150] ~ (c.description|length > 150 ? '...' : '') }}</p>
							<p class="fw-bold mt-auto">{{ c.prix }}
								€</p>
							<a href="controleur.php?page=cours&action=read&id={{c.id}}" class="btn btn-primary mt-2">Voir</a>
						</div>
					</div>
				</div>
			{% else %}
				<p>Aucun cours trouvé.</p>
			{% endfor %}
		</div>
	</div>
{% endblock %}
