{% extends 'base.twig' %}

{% block main %}
    <div class="container">
        <h1>Modifier une partition</h1>
        <form action="controleur.php?page=partition&action=update" method="post">
            <input type="hidden" name="id" value="{{ partition.id }}">
            <div class="mb-3">
                <label for="nom" class="form-label">Nom</label>
                <input type="text" class="form-control" id="nom" name="nom" value="{{ partition.nom }}" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="5">{{ partition.description }}</textarea>
            </div>
            <div class="mb-3">
                <label for="prix" class="form-label">Prix</label>
                <input type="number" step="0.01" class="form-control" id="prix" name="prix" value="{{ partition.prix }}" required>
            </div>
            <div class="mb-3">
                <label for="id_style" class="form-label">Style</label>
                <select id="id_style" name="id_style" class="form-control">
                    <option value="">Choisir</option>
                    {% for style in styles %}
                        <option value="{{style.id}}" {{ partition.id_style == style.id ? 'selected' : '' }}>{{style.nom}}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="hidden" name="id_auteur" value="{{ partition.id_auteur }}">
            <button type="submit" class="btn btn-primary">Mettre à jour</button>
        </form>
    </div>
{% endblock %}
